/*beginning of the reset*/
/*
  Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
  - The "symbol *" part is to solve Firefox SVG sprite bug
*/
*:where(:not(iframe, canvas, img, svg, video, input, textarea):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}
/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a {
  cursor: revert;
}
/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}
/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}
/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}
/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}
/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
:where([hidden]){
  display:none;
}
/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly. */
:where([contenteditable]){
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}
/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* reset end*/


/*NAV STYLING*/
/*hamburger styling*/

.hamburger-bars {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position:fixed;
  width: 4em;
  height: 3em;
  /* border: rgb(236, 243, 230) 4px solid; */
  justify-content: center;
  /* background-color: blue; */

}

.hamburger-bars > span {
  display: flex;
  width: 1.4em;
  height: 0.125em;
  padding: 0.05em;
  margin: 0.18em;
  align-self: center;
  background-color: ivory;
        
}

.main-nav {
  position: fixed;
  /* top: -0.025em; */
  display: flex;
  /* width: fit-content; */
  font-size: 1.4em;
  font-weight: 600;
  font-family: 'Molengo', sans-serif;
  z-index: 50;
  color: #4c8744;
  
}
    
/*at the moment hiding is weird, but if the display is other than flex there is an active invisible field even when the menu is hidded opens it*/
.main-nav__menu {
  display: flex;
  transform: translateX(-200%);
  transition: transform ease-in-out 250ms;
  visibility: none;
  height: auto;
  width: fit-content;
  border-radius: 0 0 120px 0;
  
}

.main-nav li {
  list-style: none;
  display: flex;
  /* border: rgb(17, 129, 9) 4px solid; */
  height: 4em;
  margin: 0 auto;
  padding: 1.5em;
    
}
    
.main-nav li a {
  color: #4c8744;
  text-decoration: none;
  margin: auto;
}

.main-nav li a:hover {
  color: #b4d044;
}

.main-nav li#home {
  position: relative;
  width: auto;
  height: 4em;
  background-color: ivory;

}

.main-nav li#nutritional-therapy-link {
  position: relative;
  width: auto;
  background-color: ivory;
}

.main-nav li#glowing-health-pr-link {
  position: relative;
  width: auto;
  background-color: ivory;
}

.main-nav li#prices-contact-link{
  position:sticky;
  width: auto;
  background-color: ivory;
}
.main-nav li#blog{
  position: relative;
  width: auto;
  background-color: ivory;
}
.main-nav li#about{
  position: relative;
  width: auto;
  background-color: ivory;
  
}

.is-open .main-nav__menu {
  display: block;
  transform: translateX(0);
  transition: transform ease-in-out 250ms;
  visibility: visible;
  overflow: hidden;
    
}

.is-open .middle-bar {
  visibility: hidden;
}
.is-open .top-bar {
  transform: rotate(45deg);
  margin-top: 0.2em;
  width: 1.3em;
  transition: transform ease-in 200ms;
}
.is-open .bottom-bar {
  transform: rotate(-45deg);
  width: 1.3em;
  position: absolute;
  transition: transform ease-in 200ms;
}

.is-open .hamburger-bars > span {
  margin: -0.07em auto;
  background-color: #4c8744;
  display: flex;
  position: fixed;
}


/*BODY*/
body {
  background-color: ivory;
  width: 100%;
  height:min-content;

  display: block;

}


.logo {
  width: 15em;
  position: fixed;
  display: flex;
  align-self: center;
  z-index: 12;
  padding: 0.5em;
  
}

.header {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 0 auto;

}

.hero {
  background-color: #f0f0be; 
  width: 100%;
  height: auto;
  display: grid;
  gap: 1em;
  margin: 3em 0;

  grid-template-columns: repeat(3, 1fr);
  place-items: center;

  
}

  .hero-photo {
    max-width: 45em;
    display: flex;
    flex-direction: row-reverse;
    width: 87%;
    height: auto;
    position: relative;
    grid-area: 1 /1 / 3 / 4;
  }


  .hero-photo img{
    display: flex;
    width:  80%;
    height: auto;
    border-radius: 50%;
    position: relative;
    top: 2em;
    margin: 1em;

  }

#svg-1 {
  position: fixed;
  z-index: 11;
  top: -2em;
  width: 100%;
  display: flex;

}

.glow-title {
  position: relative;
  display: flex;
  font-family: 'Oleo Script', cursive;
  justify-content: center;
  padding: 0 0.4em;
  font-size: 9em;
  color: #e8b50f;
  text-shadow: -1px -1px 0 rgb(114, 9, 130), 3px -1px 2px rgb(114, 9, 130), -1px 1px 0 rgb(114, 9, 130), 1px 1px 0 rgb(114, 9, 130);
  z-index: 3;
  top: 0.6em;
  left: 0.2em;
  rotate: -6deg;

  grid-area: 1 /3 / 3 / 1;
}

.glow-title2 {
  position: relative;
  font-size: 1.8em;
  font-family: 'Molengo', sans-serif;
  font-weight: 800;
  padding: 0 3em;
  margin: 0 0.7em;
  top: 1.4em;
  text-align: center;
  z-index: 4;
  color: #4c8744;
  text-shadow: -1px -1px 0 ivory, 3px -1px 2px ivory, -1px 1px 0 ivory, 1px 1px 0 ivory;
  
  grid-area: 2 /4 / 2 / 1;
}

.glow-title3 {
  font-size: 1.2em;
  text-align: center;
  font-family: 'Molengo', sans-serif;
  padding: 2em;
  

  grid-area: 3 /4 / 4 / 1;
}


.main-content {
  position: relative;
  margin: 0 auto;
  padding: 2em;
  /* background-color: aqua; */
  display: grid;
  gap: 1em;
  grid-template-columns: (3, 1fr);

}

  .main-content h1 {
    padding: 1em;
    text-align: center;
  }


  .main-content p, li, p {
    font-size: 1.5em;
    line-height: 1.7em;
  }

  .part-4_section {
    background-color: #d4e68d;
    padding: 1em;
    border-radius: 23px;
    
  }

  .part-4_section h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 3em;
    color:#e8b50f;
    text-shadow: -1px -1px 0 rgb(114, 9, 130), 3px -1px 2px rgb(114, 9, 130), -1px 1px 0 rgb(114, 9, 130), 1px 1px 0 rgb(114, 9, 130);
  }

  .professional-summary p, .offer-description p {
    color: #e8b50f;
    font-weight: 900;
    padding: 2em;
    font-size: 2em;
    text-align: center;
  }


.links {
  
  background-color: #f0f0be;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3,1fr);
  /* grid-template-areas: "col1" "col2" "col3"; */
  width: fit-content;
  padding: 10%;
  align-items: end;
}


  .links img {
    border-radius: 23px;
    margin: 0 auto;
  }

  .links p {
    
    font-family: 'Oleo Script', cursive;
    color: #4c8744;
    text-shadow: -1px -1px 0 ivory, 3px -1px 2px ivory, -1px 1px 0 ivory, 1px 1px 0 ivory;
    height: fit-content;

  }

  .consultations {
    grid-area: 1/2/1/4;
  }

  .consultations__p {
    grid-area: 1/1/1/3;
    font-size: 2.2em;
    text-align: end;
    max-width: 8em;
  }

  .the-growth-health-pr {
    grid-area: 2/1/3/3;

  }

  .the-growth-health-pr__p {
    grid-area: 2/2/2/4;
    font-size: 2.5em;
    line-height: 1em;
    max-width: 6.5em;
  }

  .free-ebook {
    grid-area: 3/2/4/4;
  }

  .free-ebook__p {
    grid-area: 3/1/4/3;
    font-size: 2.2em;
    width: 100%;
    text-align: end;
  }

.partners-links {
  /* background-color: darkolivegreen; */
  
  display: grid;
  gap: 1em;
  grid-template-columns: (3, 1fr);
  grid-template-areas: "col1";

  padding: 2em;
  width: 100%;
  justify-items: center;
}

  .afmcp, .bant, .cnhc {
    max-width: 15em;
    /* width:  100%; */
    border-radius: 20px;
    padding: 1em;
  }

  .badge {
    max-width: 20em;
    width: 60%;
    padding: 1em;
  }


.latest-news {
  background-color: #f0f0be;
  padding: 2em;
  align-items: end;
  display: grid;
  gap: 1em;
  grid-template-columns: (3, 1fr);
  grid-template-areas: "col1";
}

  .latest-news__h1 {
    margin: 0 auto;
    text-align: center;
    padding: 0.7em;

    grid-area: 1/1/2/4;
  }

  .article-intro {
    padding: 1.4em 0;

    grid-area: 2/1/3/4;
  }

  .latest-news img {
    border-radius: 43px;
    padding: 1em 0;
  
  }

  .latest-news h2 {
    font-weight: 600;
    color: #4c8744;
  }

    .entry-1 {
      grid-area: 3/1/4/3;
    }
    .article-title-1 {
      grid-area: 3/2/4/4;
      width: 100%;
      font-size: 1.8em;
      display: flex;
      text-align: end;
      text-shadow: -1px -1px 0 ivory, 3px -1px 2px ivory, -1px 1px 0 ivory, 1px 1px 0 ivory;
    }

    .description-1 {
      grid-area: 4/1/5/4;
      margin: 1.5em;
    }

    
    .entry-2 {
      grid-area: 5/1/6/3;
    }

    .article-title-2 {
      grid-area: 5/2/6/4;
      width: 100%;
      font-size: 1.8em;
      text-align: end;
      text-shadow: -1px -1px 0 ivory, 3px -1px 2px ivory, -1px 1px 0 ivory, 1px 1px 0 ivory;
    }

    .description-2 {
      grid-area: 6/1/7/4;
      margin: 1.5em;
    }


    .entry-3 {
      width: 100%;
      padding: 2em;

      grid-area: 7/1/8/3;
    }

    .article-title-3 {
      grid-area: 7/2/8/4;
      width: 100%;
      font-size: 1.8em;
      display: flex;
      text-align: end;
      text-shadow: -1px -1px 0 ivory, 3px -1px 2px ivory, -1px 1px 0 ivory, 1px 1px 0 ivory;
    }

    .description-3 {
      grid-area: 8/1/9/4;
      margin: 1.5em;
    }


    .read-more {
      font-weight: 600;
      color: #4c8744;
    }





.contact {
  background-color: #b4d044;
  /* border-radius: 23px; */
  width: 100%;
  margin: 3em auto;
  padding: 2em;

  max-width: 40em;
  display: grid;
  gap: 1em;
  grid-template-columns: (3,1fr);
  grid-template-areas: "col1";
}

  .contact__form {
    border-radius: 23px;
    width: 100%;
    /* text-align: center; */
    
  }

  .contact__title {
    font-size: 3em;
    font-weight: 700;
    /* padding: 1em; */
  }

  input {
    padding: 0.5em;
    margin: 0 auto;
    font-size: 1.3em;

  }

  .name, .email, .subject, .message {
    padding:0.4vw;
    min-width: 100%;
    margin: 0.5em 0;
    border-radius: 9px;
  }

  .subscribe-wrapper {
    display: inline-flex;
    padding: 1em;
  }

  .subscribe-checkbox {
    display: flex;
    min-width: 1.6rem;
    min-height: 1.6rem;
    margin: 0 1em;
    position: relative;
    left: 1em;
    
  }

  .subscribe__label{
    font-family: 'Molengo', sans-serif;
    font-size: 1.5em;
    color:#4c8744;
    display: flex;
    margin: 0 auto;
    align-self: center;
  }

  .message {
    height: 10em;
    font-size: 2em;
  }

  /* .g-recaptcha {
    padding: 1em;
    
  } */

  .submit {
    padding: 1em;
    margin: 2em 0;
    border-radius: 1em;
    background-color:#4c8744;
    font-size: 1.5em;
    color:#f0f0be;
    font-weight: 800;
    
  }


h1 {
    width: 100%;
    font-size: 3em;
    font-family: 'Molengo', sans-serif;
    color: #4c8744;
}

p, li {
  font-family: 'Molengo', sans-serif;
  margin: 0 auto;
  text-align: justify;
}

section li {
  padding: 0.5em;
  margin: 0 2em;  
}

.fa-solid {
  color:#b4d044;
}


h2 {
  font-family: 'Molengo', sans-serif;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 0.5em;
}


footer {
  padding: 2em;
  background-color: #b4d044;
  width: 100%;
  margin: 0 auto;
  
  justify-items: center;
  display: grid;
  gap: 1em;
  grid-template-columns: (5, 1fr);
    
}

  .social-links {
    padding: 1.9em 1.6em 0;
    display: inline-flex;
  }

  .footer-links {
    font-size: 0.7em;
    display: block;
    margin: 0 auto;
  }

  hr { 
    display: flex;
    width: 80%;
    overflow: hidden; 
    border: 1px solid #4c8744;
  }


/*MEDIA QUERIES*/

  /*MIN-WIDTH QUERIES*/

  @media(min-width: 30em) {

    .contact {
      border-radius: 23px;
    }

    .footer-links1, .footer-links2, .footer-links3 {
      display: flex;
      justify-content: center;
    }
    

  }

  @media (min-width: 43em){
    #svg-1 {
      top:-5em;
    }

    .glow-title {
      top: 1em;
    }

    .glow-title2{
      font-size: 2.7em;
    }

    .glow-title3 {
      font-size: 1.7em;
    }

    .part-4_section p {
      font-size: 1.8em;
      padding: 0 1em;
    }

    .free-ebook__p {
      text-align: center;
    }

    .article-intro {
      padding: 0 2em;
    }

    .latest-news img {
      padding: 3em;
      border-radius: 5em;
    }

    .latest-news h2 {
      font-size: 2.5em;
      text-align: center;
    }

    .footer-links1, .footer-links2, .footer-links3 {
      display: inline-flex;
      justify-content: space-between;
      padding: 0 2em;
    }

    .footer-hr {
      max-width: 40em;
    }
  }

  @media (min-width: 60em) {
    #svg-1 {
      top:-9em;
    }

    .part-1_section {
      grid-area: 1/1/2/2;
      padding: 1em;
    }

    .part-2_section {
      grid-area: 1/2/2/3;
      padding: 1em;
    }

    .professional-summary {
      grid-area: 2/1/3/3;
    }

    .part-3_section {
      grid-area: 3/1/6/2;
    }

    .part-3_section li {
      margin: 0 0 0 2em;
    }

    .offer-description {
      grid-area: 4/2/6/3;
      align-self: center;
    }

    .links {
      grid-template-columns: repeat(4, 1fr);
    }

    .consultations {
      grid-area: 1/2/2/3;
      position: relative;
      right: 2em;
    }
    .consultations__p {
      font-size: 3.3em;
      position: relative;
      right: 1em;
    }

    .the-growth-health-pr {
      grid-area: 1/3/2/4;
      position: relative;
      left: 2em;
    }

    .the-growth-health-pr__p {
      grid-area: 1/3/2/5;
      font-size: 3.5em;
      text-align: center;
      position: relative;
      left: 1em;
    }

    .free-ebook {
      grid-area: 2/2/4/4;
      position: relative;
      top: 2em;
    }

    .free-ebook__p {
      grid-area: 3/2/5/4;
      font-size: 3.5em;
      position: relative;
      top: 0.5em;
    }


    /*partner links grid*/
    .partners-links {
      grid-auto-columns: repeat(5, 1fr);

      grid-template-areas: 
        ". badge badge badge ."
        ". bant afmcp cnhc .";
    }

    .badge {
      grid-area: badge;
    }

    .bant {
      grid-area: bant;
      height: fit-content;
      width: auto;
    }
    
    .afmcp {
      grid-area: afmcp;
      height: fit-content;
      width: auto;
    }

    .cnhc {
      grid-area: cnhc;
      height: fit-content;
      width: auto;
    }

    .latest-news {
      grid-template-columns: 1fr 50% 1fr;
    }

    .latest-news__h1{
      grid-area: 1/2/2/7;
    }

    .latest-news h2 {
      font-size: 2.2em;
    }

    .latest-news img {
      width: 100%;
      align-self: center;
    }

    .article-intro {
      grid-area: 2/2/3/6;
      text-align: center;
    }

    .entry-1 {
      grid-area: 3/1/4/3;
      justify-self: center;
    }

    .article-title-1 {
      grid-area: 3/2/4/3;
    }

    .description-1 {
      grid-area: 3/3/4/6;
      font-size: 1.3em;
      
    }

    .one-two {
      grid-area: 3/2/4/6;
      width: 70%;
      justify-self: flex-end;
    }


    .entry-2 {
      grid-area: 4/3/5/6;
      justify-self: center;
    }

    .article-title-2 {
      grid-area: 4/4/5/6;
    }

    .description-2 {
      grid-area: 4/2/5/4;
      font-size: 1.3em;
    }

    .two-three {
      grid-area: 4/2/5/7;
      width: 70%;
      justify-self: flex-start;
    }

    .entry-3 {
      grid-area: 5/2/6/4;
      width: 76%;
    }

    .article-title-3 {
      grid-area: 5/2/6/4;
    }

    .description-3 {
      grid-area: 5/3/6/6;
      font-size: 1.3em;
    }

  }


  
  @media (min-width: 80em){

    .hamburger-bars {
      display: none;
    }

    .hamburger-bars > span {
      display: none;
      
    }

    .main-nav {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 0.5em 0;
    }

    .main-nav__menu {
      display: flex;
      transform: none;
      background-color: transparent;
            
    }

    .main-nav li#home, .main-nav li#nutritional-therapy-link, .main-nav li#glowing-health-pr-link, .main-nav li#prices-contact-link, .main-nav li#blog, .main-nav li#about{
      background-color: transparent;
      font-size: 1em;
      display: inline-block;
      position: relative;
      top: 2.5em;
      padding: 1em;
      
    }

    .main-nav li a:hover {
      color: ivory;
    }

    #svg-1 {
      top:-10em;
      transform: rotateX(24deg);
    }

    .main-content {
      width: 90%;
      grid-template-columns: repeat(6, 1fr);

    }

    .main-content h1 {
      font-size: 2em;
    }

    .main-content p, .main-content li {
      font-size: 1em;
    }

    .part-4_title {
      font-size: 2.9em !important;
    }


    /*I help women over 40*/
    .part-1_section {
      grid-area: 1/1/2/4;
      padding: 0 3em;
    }

    /*By understanding*/
    .part-2_section {
      grid-area: 1/4/2/7;
      padding: 0 3em 4em;
    }

    /*Here’s what you can*/
    .part-3_section {
      grid-area: 3/3/4/7;
      padding: 3em 0;
    }

    /*I combine Nutritional */
    .professional-summary {
      grid-area: 2/5/3/7;
      font-size: 1.3em;
    }

    /*Glowing Health Programme*/
    .part-4_section {
      grid-area: 2/1/3/5;
      padding: 0 3em 2em;
    }

    /*I offer a FREE*/
    .offer-description {
      grid-area: 3/1/5/3;
      margin: 0 auto;
      padding: 4em 0;
      font-size: 1.3em;
    }

    .links {
      grid-template-columns: repeat(4,1fr);
    }

    .consultations {
      grid-area: 1/1/2/3;
      width: 38%;
      
    }

    .consultations__p {
      grid-area: 1/2/2/3;
      font-size: 2.2em;
      /* width: 60%; */
      text-align: center !important;
    
    }

    .the-growth-health-pr {
      grid-area: 1/3/3/-1;
      width: 16em;
      position: relative;
      top: 4em;
    }

    .the-growth-health-pr__p {
      z-index: 10;
      font-size: 3em;
      padding: 0 5em;
      position: relative;
      top: 1em;
    }

    .free-ebook {
      grid-area: 3/1/4/4;
      position: relative;
      top: 2em;
      position: relative;
      top: 7em;
      width: 50%;
    }

    .free-ebook__p {
      z-index: 9;
      font-size: 3em;
      text-align: left;

      position: relative;
      top: 2em;
      grid-area: 3/3/4/5;
    }

    /* .latest-news {
      grid-template-columns: 1fr 50% 1fr;
    }

    .latest-news__h1{
      grid-area: 1/2/2/7;
    }

    .article-intro {
      grid-area: 2/2/3/6;
      text-align: center;
      padding: 0 0 3em 0;
    }

    .entry-1 {
      grid-area: 3/1/4/3;
      justify-self: center;
    }

    .article-title-1 {
      grid-area: 3/2/4/3;
    }

    .description-1 {
      grid-area: 3/3/4/6;
      font-size: 1.3em;
      
    }

    .one-two {
      grid-area: 3/2/4/6;
      width: 70%;
      justify-self: flex-end;
    }


    .entry-2 {
      grid-area: 4/4/5/6;
      justify-self: center;
    }

    .article-title-2 {
      grid-area: 4/4/5/6;
    }

    .description-2 {
      grid-area: 4/2/5/4;
      font-size: 1.3em;
    }

    .two-three {
      grid-area: 4/2/5/7;
      width: 70%;
      justify-self: flex-start;
    }

    .entry-3 {
      grid-area: 5/2/6/4;
      width: 76%;
    }

    .article-title-3 {
      grid-area: 5/2/6/4;
    }

    .description-3 {
      grid-area: 5/3/6/6;
      font-size: 1.3em;
    } */

    footer {
      grid-template-columns: repeat(5, 1fr);

    }

    .follow-us {
      grid-area: 1/2/2/3;
    }

    ul {
      grid-area: 2/2/3/5;
    }

    .footer-links {
      grid-area: 4/1/5/6;
      display: inline-flex;
      font-size: 0.8em;
      
    }

    footer hr {
      grid-area: 3/1/3/6;
      width: 50%;
    }

    .footer-links p {
      padding: 1em 3em;
      
    }

    input {
      font-size: 1em;
    }

    .message {
      font-size: 1.4em;
    }

  }

  @media (min-width: 85em){
    #svg-1 {
      top:-11em;
    }
  }
  
  @media (min-width: 95em){
    #svg-1 {
      top:-14em;
    }
  }

  @media (min-width: 107em){
    #svg-1 {
      transform: rotateX(60deg);
    }
  }

  @media (min-width: 121em){
    #svg-1 {
      top:-17em;
    }
  }

  /*MAX-WIDTH MEDIA QUERIES*/

  @media (max-width: 32em) {
    .main-nav li a {
      font-size: 0.9em;
      line-height: 1em;
      text-align: center;
    }

    .main-nav li {
      padding: 1em;
    }

    .logo {
      width: 9em;
    }

    .glow-title {
      position: relative;
      top: 1em;
      font-size: 6em;
    }

    .glow-title2 {
      position: relative;
      top: 3em;
      font-size: 1.4em;
    }

    .glow-title3 {
      position: relative;
      top: 1em;
    }

    .main-content h1 {
      font-size: 2em;
    }

    .main-content p, li, p {
      font-size: 1.2em;
    }

    .latest-news img {
      visibility: collapse;
      
    }

    /* .one-two, .two-three {
      visibility: hidden;
    } */

    .contact__title {
      font-size: 2em;
    }

    .name, .email, .subject{
      font-size: 1em;
      width: 16em;
    }

    .message {
      font-size: 1.4em;
      width: 14em;
    }

    .subscribe__label {
      font-size: 1.1em;
    }

    .subscribe-checkbox {
      width: 0.9em;
      height: 0.9em;
      margin: 1em auto;
    }

    /* .g-recaptcha {
      width: 12em;
    } */

    .footer-links {
      font-size: 0.8em;
      margin: 0 auto;
    }

    .footer-links1, .footer-links2, .footer-links3 {
      text-align: center;
    }
  }

  @media (max-width: 40em) {
    .latest-news img {
      display: none;
    }

    .one-two, .two-three {
      visibility: hidden;
    }
  }
