/*beginning of the reset*/
/*
  Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
  - The "symbol *" part is to solve Firefox SVG sprite bug
*/
*:where(:not(iframe, canvas, img, svg, video, input, textarea):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}
/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a {
  cursor: revert;
}
/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}
/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}
/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}
/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}
/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
:where([hidden]){
  display:none;
}
/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly. */
:where([contenteditable]){
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}
/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* reset end*/


/*NAV STYLING*/
/*hamburger styling*/

.hamburger-bars {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position:fixed;
  width: 4em;
  height: 3em;
  /* border: rgb(236, 243, 230) 4px solid; */
  justify-content: center;
  /* background-color: blue; */

}

.hamburger-bars > span {
  display: flex;
  width: 1.4em;
  height: 0.125em;
  padding: 0.05em;
  margin: 0.18em;
  align-self: center;
  background-color: ivory;
        
}

.main-nav {
  position: fixed;
  /* top: -0.025em; */
  display: flex;
  /* width: fit-content; */
  font-size: 1.4em;
  font-weight: 600;
  font-family: 'Molengo', sans-serif;
  z-index: 50;
  color: #4c8744;
  
}
    
/*at the moment hiding is weird, but if the display is other than flex there is an active invisible field even when the menu is hidded opens it*/
.main-nav__menu {
  display: flex;
  transform: translateX(-200%);
  transition: transform ease-in-out 250ms;
  visibility: none;
  height: auto;
  width: fit-content;
  border-radius: 0 0 120px 0;
  
}

.main-nav li {
  list-style: none;
  display: flex;
  /* border: rgb(17, 129, 9) 4px solid; */
  height: 4em;
  margin: 0 auto;
  padding: 1.5em;
    
}
    
.main-nav li a {
  color: #4c8744;
  text-decoration: none;
  margin: auto;
}

.main-nav li a:hover {
  color: #b4d044;
}

.main-nav li#home {
  position: relative;
  width: auto;
  height: 4em;
  background-color: ivory;

}

.main-nav li#nutritional-therapy-link {
  position: relative;
  width: auto;
  background-color: ivory;
}

.main-nav li#glowing-health-pr-link {
  position: relative;
  width: auto;
  background-color: ivory;
}

.main-nav li#prices-contact-link{
  position:sticky;
  width: auto;
  background-color: ivory;
}
.main-nav li#blog{
  position: relative;
  width: auto;
  background-color: ivory;
}
.main-nav li#about{
  position: relative;
  width: auto;
  background-color: ivory;
  
}

.is-open .main-nav__menu {
  display: block;
  transform: translateX(0);
  transition: transform ease-in-out 250ms;
  visibility: visible;
  overflow: hidden;
    
}

.is-open .middle-bar {
  visibility: hidden;
}
.is-open .top-bar {
  transform: rotate(45deg);
  margin-top: 0.2em;
  width: 1.3em;
  transition: transform ease-in 200ms;
}
.is-open .bottom-bar {
  transform: rotate(-45deg);
  width: 1.3em;
  position: absolute;
  transition: transform ease-in 200ms;
}

.is-open .hamburger-bars > span {
  margin: -0.07em auto;
  background-color: #4c8744;
  display: flex;
  position: fixed;
}


/*BODY*/
body {
  background-color: ivory;
  width: 100%;
  height:min-content;

  display: block;

}


.logo {
  width: 15em;
  position: fixed;
  display: flex;
  align-self: center;
  z-index: 12;
  padding: 0.5em;
  
}

.header {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 0 auto;

}

.hero {
  background-color: #f0f0be; 
  width: 100%;
  height: auto;
  display: grid;
  gap: 1em;
  margin: 3em 0;

  grid-template-columns: repeat(3, 1fr);
  place-items: center;

  
}

.hero-photo {
  display: flex;
  flex-direction: row-reverse;
  width: 87%;
  height: auto;
  position: relative;
  grid-area: 1 /1 / 3 / 4;
}


.hero-photo img{
  display: flex;
  width:  80%;
  height: auto;
  border-radius: 50%;
  position: relative;
  top: 2em;
  margin: 1em;

}

#svg-1, #svg-2 {
  position: fixed;
  z-index: 10;
  top: -2em;
  width: 100%;
  display: flex;

}

/* #svg-2 {
  
  opacity: 0.5;
  
} */

.glow-title {
  position: relative;
  display: flex;
  font-family: 'Oleo Script', cursive;
  justify-content: center;
  padding: 0 0.4em;
  font-size: 9em;
  color: #e8b50f;
  text-shadow: -1px -1px 0 rgb(114, 9, 130), 3px -1px 2px rgb(114, 9, 130), -1px 1px 0 rgb(114, 9, 130), 1px 1px 0 rgb(114, 9, 130);
  z-index: 3;
  top: 0.6em;
  left: 0.2em;
  rotate: -6deg;

  grid-area: 1 /3 / 3 / 1;
}

.glow-title2 {
  position: relative;
  font-size: 1.8em;
  font-family: 'Molengo', sans-serif;
  font-weight: 800;
  padding: 0 3em;
  margin: 0 0.7em;
  top: 1.4em;
  text-align: center;
  z-index: 4;
  color: #4c8744;
  text-shadow: -1px -1px 0 ivory, 3px -1px 2px ivory, -1px 1px 0 ivory, 1px 1px 0 ivory;
  
  grid-area: 2 /4 / 2 / 1;
}

.glow-title3 {
  font-size: 1.2em;
  text-align: center;
  font-family: 'Molengo', sans-serif;
  padding: 2em;
  

  grid-area: 3 /4 / 4 / 1;
}


.main-content {
  position: relative;
  margin: 0 auto;
  padding: 2em;
  /* background-color: aqua; */
  display: grid;
  gap: 1em;
  grid-template-columns: (3, 1fr);
  /* grid-template-areas: "col1"; */
}

.main-content h1 {
  padding: 1em;
  text-align: center;
}


.main-content p, li {
  font-size: 1.5em;
  line-height: 1.7em;
}

.professional-summary p, .offer-description p {
  color: #e8b50f;
  font-weight: 900;
  padding: 2em;
  font-size: 2em;
  text-align: center;
}


.links {

  background-color: aquamarine;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: "col1" "col2" "col3";
}


.links img {
  border-radius: 23px;
  margin: 0 auto;
}

.links p {
  font-family: 'Oleo Script', cursive;
  /* font-size: 1.4em; */
}

.consultations {
  grid-area: 1/2/1/4;
}

.consultations__p {
  grid-area: 1/1/1/3;
  font-size: 2em;
}

.the-growth-health-pr {
  grid-area: 2/1/3/3;

}

.the-growth-health-pr__p {
  grid-area: 2/2/2/4;
  font-size: 3em;
}

.free-ebook {
  grid-area: 3/2/4/4;
}

.free-ebook__p {
  grid-area: 3/1/4/3;
  font-size: 2.5em;
}

.partners-links {
  background-color: darkolivegreen;
  display: grid;
  gap: 1em;
  grid-template-columns: (3,1fr);
  grid-template-areas: "col1";
}


.latest-news {
  display: grid;
  gap: 1em;
  grid-template-columns: (3,1fr);
  grid-template-areas: "col1";
}


.contact {
  display: grid;
  gap: 1em;
  grid-template-columns: (3,1fr);
  grid-template-areas: "col1";
}


h1 {
    width: 100%;
    font-size: 3em;
    font-family: 'Molengo', sans-serif;
    color: #4c8744;
}

p, li {
  font-family: 'Molengo', sans-serif;
  margin: 0 auto;
  text-align: justify;
}

section li {
  padding: 0.5em;
  margin: 0 2em;  
}

.fa-solid {
  color:#b4d044;
}

.entry-3{
  width: 100%;
  padding:2em;
}


h2 {
  font-family: 'Molengo', sans-serif;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 0.5em;
}

.contact {
  background-color: #b4d044;
  border-radius: 23px;
  width: 80%;
  margin: 3em auto;
  padding: 2em;
}

.contact__form {
  border-radius: 23px;
}

.contact__title {
  font-size: 3em;
  font-weight: 700;
  /* padding: 1em; */
}

input {
  padding: 0.5em;
  margin: 0 auto;
}

.name, .email, .subject, .message {
  padding:0.4em;
  width: 100%;
  margin: 0.5em 0;
  border-radius: 9px;
}

.subscribe-checkbox {
  margin: 2em 0;
  
}

.subscribe__label{
  font-family: 'Molengo', sans-serif;
  font-size: 1.5em;
  color:#4c8744;
}

.message {
  height: 10em;
}

.g-recaptcha {
  padding: 1em;
  
}

.submit {
  padding: 1em;
  margin: 2em 0;
  border-radius: 1em;
  background-color:#4c8744;
  font-size: 1.2em;
  color:#f0f0be;
  font-weight: 800;
  
}




footer {
  padding: 2em;
  background-color: #b4d044;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1em;
  grid-template-columns: (3,1fr);
  grid-template-areas: "col1";
  
}

footer p, footer li{
  display: inline-block;
  padding: 1em;

  
}



